extends ./layouts/mainLayout
include ./mixins/generateListings

block content
  if user
    include ./partials/_postnav
  else
    include ./partials/_loginNav
  .row
    .large-12.columns
      a(href="/gallery/" + masthead.id)
        img.image-masthead(src=masthead.url)
    .large-12.columns.end-listing
      +generateListings(listings)