.row.header-container
  .small-12.medium-8.columns
    a(href='/')
      h1.header-title.small-text-center.medium-text-left _ARCHITEKT
  .show-for-medium-up.medium-4.columns
    .header-info.text-right.
      Welcome to our online portfolio, we are small group
      of passionate designers and architects, looking to
      change and create amazing digital images to inspire
      others to follow in our innovate steps. Free Architect
      WordPress Theme