.row
  .small-12.columns
    dl.sub-nav(role="menu")
      dd.active.post-button(role="menuitem")
        a(href="/login") Login
      dd.active.post-button(role="menuitem")
        a(href="/register") Register