.row
  .small-12.columns
    dl.sub-nav(role="menu")
      dd.active.post-button(role="menuitem")
        a(href="/gallery/new") Post New
      dd.active.post-button(role="menuitem")
        a(href="/logout") Log Out