mixin generateSidebar(listings)
  .row.show-for-medium-up
    each listing in listings
      .medium-12.columns
        .sidebar-container
          a(href='/gallery/'+listing.id)
            img.image-listings(src= listing.url)
          div.sidebar-info=listing.shortDesc + ' - ' +  listing.link