body {
  background-color: green;
}

.content {
  background-color: red;
}

li:first-child {
  color: pink;
}

/*@media screen and (max-width: 480px) {
    body {
        background-color: blue;
    }
}*/